<div class="clearfooter"></div>
</section>
</div>
<div id="footer">
    <div class="grassfooter">

    </div>
    <footer>
        <div class="fixedwidth">
            <section class="row">
                <div class="col span_6">
                    <p style="font-size: 0.7em; padding: 0.4em 0;">© 2013 The Mountain Food Company. All rights reserved.</p>
                </div>
                <ul class="col span_3">
                    <li class="head">Social</li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Youtube</a></li>
                </ul>
                <ul class="col span_3">
                    <li class="head">Legal</li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Refund Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </section>
        </div>
    </footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="javascript/global.js"></script>
</body>
</html>