<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container">
    <header class="row" id="mainheader">
        <div class="fixedwidth">
            <section class="col span_6">
                <h1 id="logo"><a href="/">The Mountain Food Company Ltd</a></h1>
                <div style="position:relative; text-align: center;">
                    <em class="linethrough smallbutstrong">Established 1995</em>
                </div>
            </section>
            <section class="col span_6">
                <nav id="mainnav">
                    <ul class="dotbefore">
                        <li><a href="catalogue">Catalogue</a></li>
                        <li><a href="operation">Operation</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>
    <section class="fixedwidth">