<% include ../partials/header.ejs %>

<hgroup id="pagetagline">
    <h1><?php echo PAGE_NAME; ?></h1>
    <p><?php echo PAGE_H2; ?></p>
</hgroup>
<div class="row">
    <div class="col span_6">
        <p>Yun began the operation back in 1995. Not wanting to risk damage to fragile eco systems the business has been deliberately kept small and we work with a select group of Chefs. Based in Dyfed, wales we have access to three estuaries, mountains, hedgerows, forest and a spectacular coast line.</p>
    </div>
    <div class="col span_6">
        Picture of the team here
    </div>

</div>


<% include ../partials/footer.ejs %>
