<% include ../partials/header.ejs %>

<!--<hgroup id="pagetagline">
	<h1><?php echo PAGE_NAME; ?></h1>
	<p><?php echo PAGE_H2; ?></p>
</hgroup>-->
<h2 style="font-size: 1.2em; text-transform: uppercase; padding-bottom: 1em; text-align: center;">Some of our customers</h2>
<div class="row">
  <div class="">

  </div>
</div>
<div class="row">
  <ul class="col span_2">
    <li>logo of well known restaurants</li>
  </ul>
  <ul class="col span_2">
    <li>logo of well known restaurants</li>
  </ul>
  <ul class="col span_2">
    <li>logo of well known restaurants</li>
  </ul>
  <ul class="col span_2">
    <li>logo of well known restaurants</li>
  </ul>
  <ul class="col span_2">
    <li>logo of well known restaurants</li>
  </ul>
  <ul class="col span_2">
    <li>logo of well known restaurants</li>
  </ul>
</div>
<hr style="opacity: 0.2;"/>
<div class="row" style="height: 8em;">
  <div class="col span_4">
    Picture of quoter here
  </div>
  <div class="col span_8">
    "insert quote here"
  </div>
</div>

<% include ../partials/footer.ejs %>