<% include ../partials/header.ejs %>

<hgroup id="pagetagline">
    <h1>The foraging</h1>
</hgroup>
<section class="row">
    <div class="col span_8">
        <p>We’ve been out foraging 52 weeks a year since 1995. Working in all weather conditions... form blizzards to floods & in gale force winds to spectacular blue sky days. We are your ‘hands in the forest,’ tracking & picking natures finest wild herbs, salads & vegetables</p>
    </div>
    <div class="col span_4">
        <div class="fleximg tucked-corners" style="background-image: url('images/operation-picking.jpg');"></div>
    </div>
</section>
<hgroup id="pagetagline">
    <h1 style="text-align: right !important;">The packing</h1>
</hgroup>
<section class="row">
    <div class="col span_4">
        <div class="fleximg tucked-corners" style="background-image: url('images/operation-cleaning.jpg');"></div>
    </div>
    <div class="col span_8">
        <p>In our state of the art pack room which is maintained to strict HACCP standards, all produce is carefully sorted, cleaned and kept refreshed with freshly drawn spring water.</p>
    </div>
</section>
<hgroup id="pagetagline">
    <h1>The delivery</h1>
</hgroup>
<section class="row">
    <div class="col span_8">
        <p>Deadline for orders is 0930hrs Tuesday, leaving us time to complete the picking of your order so that on Wednesday it can be prepped, cleaned and delivered overnight by FEDEX to arrive on Thursday in perfect condition.</p>
    </div>
    <div class="col span_4">
        <div class="fleximg tucked-corners" style="background-image: url('images/operation-fedex.jpg');"></div>
    </div>
</section>

<% include ../partials/footer.ejs %>
